.welcome {
    background-image : url("ressources/background.jpg");
    -fx-background-image : url("ressources/background.jpg");
}

.background {
    background-image : url("ressources/background2.jpg");
    -fx-background-image : url("ressources/background2.jpg");
}

.button {
    background-color : transparent;
    -fx-background-color: transparent;
    border-color: transparent;
    -fx-border-color: transparent;
}

.text_zone {
    background-color : #defbff;
    -fx-background-color: #defbff;
    border-color: transparent;
    -fx-border-color: transparent;
    color : #537ef5;
    -fx-text-fill: #537ef5;
    -fx-prompt-text-fill : #6f97f2;
}

.start {
    background-color : #defbff;
    -fx-background-color: #defbff;
    border-color: transparent;
    -fx-border-color: transparent;
    color : #537ef5;
    -fx-text-fill: #537ef5;
    -fx-prompt-text-fill : #6f97f2;
}