.welcome {
    background-image : url("ressources/background.jpg");
    -fx-background-image : url("ressources/background.jpg");
}

.background {
    background-color: #8eb3e7;
    -fx-background-color : #8eb3e7;
}

.button {
    background-color : transparent;
    -fx-background-color: transparent;
    border-color: transparent;
    -fx-border-color: transparent;
}